# http://coverage.readthedocs.io/en/latest/config.html
[report]
exclude_lines =
    pdefragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
  
 omit = 
    Examples/*
    Tests/*