# http://docs.python.org/2/distutils/sourcedist.html#the-manifest-in-template

# python setup.py dist arguments:
# --no-defaults 	(disable the standard 'include' set)
# --no-prune 		(disable the standard 'exclude' set)
# -o, --manifest-only 	(generate the MANIFEST only)

# MANIFEST.in default 'include' set:
# https://docs.python.org/2/distutils/sourcedist.html#specifying-the-files-to-distribute

# MANIFEST.in syntax:
# https://docs.python.org/2/distutils/sourcedist.html#commands

# exclude all bytecode (excluded by default)
# exclude .command (OS X)
global-exclude *.py[co] *.command

exclude __pycache__/* LICENSE* README* description

include *.py Examples/* Tests/* *.txt
